* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

main {
    color: black;
    max-width: 1200px;
}

/*header*/

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 15px;
    margin-bottom: 60px;
}

.high-header {
    margin: 0 auto;
}

.link-sub {
    padding-right: 25px;
    text-decoration: none;
    color: #fff;
}

.nav-button {
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border: 0;
    cursor: pointer;
}

.link :last-child {
    padding-right: 0;
}

.logo,
.login {
    flex-basis: 200px;

}

.login {
    text-align: right;
}


.link {
    flex-basis: 500px;
    padding: 5px;
    text-align: center;
}

.low-header>div {

    flex-basis: 700px;
    height: 300px;
}

.low-header {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
}

.p-header {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
}

.b-mac {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 100;
}

.b-browser {
    color: #fff;
    background-color: #23272a;
    font-size: 18px;
    font-weight: 100;
}

/*utils*/

[title] {

    margin-top: 15px;
    margin-bottom: 15px;
}

.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.high-header,
.a-foot {
    max-width: 1200px;
}

.lightblue-box,
.pink-box,
.sm-b,
.your-place {
    height: 400px;
}

.lightblue-box {
    flex-basis: 550px;

}

.pink-box {
    flex-basis: 350px;
    padding-top: 40px;
}

h2 {
    font-size: 3em;
}

.description,
.tecnology {
    background-color: #F6F6F6;
}

.line {
    border: 1px solid white;
}

/*main*/

.info,
.description,
.community,
.tecnology {
    padding-bottom: 150px;
}

.info {
    gap: 80px;
}

.inverted {
    order: 1;
}

.tecnology>* {
    text-align: center;
}

.tech {
    width: 900px;
}

.tecnology {
    text-align: center;
}


.pink-box>* {
    text-align: right;
}

.item2 {
    text-align: left;
}

/*footer*/

footer {
    background-color: #23272A;
}

.your-place {
    background-color: pink;
    flex-basis: 300px;
}

.sm-b {
    background-color: lightblue;
    flex-basis: 150px;
}

.a-foot {
    margin: 15px auto;
    height: 100px;
    background-color: #7FFFD4;
    justify-content: space-between;
    align-items: center;
}

.last-logo,
.button {
    flex-basis: 100px;
    height: 50px;
    background-color: palevioletred;
    text-align: center;
    line-height: 50px;
}

.pink-box>p,
.tecnology>p {
    font-size: 20px;
    margin-top: 20px;
}